@{
    ViewData["Title"] = "Home Page";
}

    <div class="section section-basic">
        <div id="main">
            <div id="bannerEd">
                <img src="~/img/lll.png" id="imgBannerEd" />
            </div>
            <br />
            <br />
            <section id="one">
                <h1 align="center">¿Por que es importante la industria 4.0?</h1>
                <div>
                    <h2 align="center">REVOLUCIÓN TECNOLOGICA</h2>
                    <h3 align="justify">La industria 4.0 o cuarta revolución industrial esta destinada a revolucionar la industria de la fabricación y producción gracias al Internet de las cosas, la computación en la nube, la integración de los datos y los avances tecnológicos de los sistemas de producción y fabricación.​</h3>
                </div>
            </section>
            <section id="two">
                <div class="row">
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/bigdata.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <h1 align="center">BIG DATA<br />...</h1>
                        <p align="justify"> La industria 4.0 será un generador de información compleja que requerirá de nuevas tecnologías para su análisis.  Big Data es un término orientado al tratamiento de grandes volúmenes de información, principalmente a causa del IIoT, que está constituido por diversos sensores que recogen información en tiempo real de todo el proceso productivo. </p>
                        <p align="justify">Todos los datos recolectados necesitan ser tratados y almacenados, para posteriormente generar una base de conocimiento para las tomas de decisiones de la industria. Estas bases de conocimiento normalmente se enriquecen con información de otras fuentes que forman parte del Big Data. </p>
                    </article>
                    <br />
                    <br />
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/security.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <h1 align="center">INTERNET DE LAS COSAS<br />...</h1>
                        <p align="justify">La internet de las cosas (IoT, por sus siglas en inglés) es un sistema de dispositivos de computación interrelacionados, máquinas, objetos, entre otros que tienen identificadores únicos y cuentan con la capacidad de transferir datos a través de una red, sin requerir la interacción de un humano es decir crea oportunidades para una integración más directa del mundo físico con los sistemas computarizados, creando dispositivos “inteligentes” que interactúan a través de internet.</p>
                    </article>
                    <br />
                    <br />
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/servers.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <h1 align="center">SEGURIDAD INFORMATICA <br />...</h1>
                        <p align="justify">La protección de los sistemas informáticos a través de programas, aplicaciones y herramientas tiene como objetivo la confidencialidad, integridad y disponibilidad de los datos.</p>
                        <p align="justify">La ciberseguridad está enmarcada dentro del concepto de seguridad de la información. Aunque a menudo se confunden, no son lo mismo, ya que la seguridad informática se encarga de minimizar los riesgos de fraude en el entorno digital, pero la ciberseguridad se constata como un elemento habilitador para que la Industria 4.0 pueda seguir creciendo. Tiene que proteger tanto los componentes tecnológicos, como los procesos que forman parte de su negocio. </p>
                    </article>
                    <br />
                    <br />
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/future.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <h1 align="center">REALIDAD AUMENTADA <br />...</h1>
                        <p align="justify">La Realidad Aumentada nos permite añadir capas de información visual sobre el mundo real que nos rodea, utilizando la tecnología, dispositivos como pueden ser nuestros propios teléfonos móviles. Esto nos ayuda a generar experiencias que aportan un conocimiento relevante sobre nuestro entorno, y además recibimos esa información en tiempo real.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/iot.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <br />
                        <h1 align="center">CLOUD COMPUTING</h1>
                        <br />
                        <p align="justify">
                            ¿Qué es Cloud Computing? De una manera simple, la computación en la nube (cloud computing) es una tecnología que permite acceso remoto a softwares, almacenamiento de archivos y procesamiento de datos por medio de Internet, siendo así, una alternativa a la ejecución en una computadora personal o servidor local. En el modelo de nube, no hay necesidad de instalar aplicaciones localmente en computadoras.

                            La computación en la nube ofrece a los individuos y a las empresas la capacidad de un pool de recursos de computación con buen mantenimiento, seguro, de fácil acceso y bajo demanda.
                        </p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <img src="~/img/i40.jpg" alt="" width="600" height="400" />
                        <br />
                        <br />
                        <h1 align="center">INTELIGENCIA ARTIFICIAL<br />ROBOTICA</h1>
                        <p align="justify"> La inteligencia artificial (IA) puede definirse como el medio por el cual las computadoras, los robots y otros dispositivos realizan tareas que normalmente requieren de la inteligencia humana. Por ejemplo, la resolución de cierto tipo de problemas, la capacidad de discriminar entre distintos objetos o el responder a órdenes verbales. La IA agrupa un conjunto de técnicas que, mediante circuitos electrónicos y programas avanzados de computadora, busca imitar procedimientos similares a los procesos inductivos y deductivos del cerebro humano. Se basa en la investigación de las redes neuronales humanas y, a partir de ahí, busca copiar electrónicamente el funcionamiento del cerebro.</p>
                    </article>
                </div>

            </section>
        </div>
    </div>

