@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="section section-basic">
    <div id="bannerEd">
        <img src="~/img/EDU.png" id="imgBannerEd" />
    </div>
    <section id="two">
        <div class="row">
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/1e.png" alt="" width="600" height="400" />
                <br />
                <br />
            </article>
            <br />
            <br />
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/2e.png" alt="" width="600" height="400" />
                <br />
                <br />
            </article>
            <br />
            <br />
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/3e.png" alt="" width="600" height="400" />
                <br />
                <br />
                
            </article>
            <br />
            <br />
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/4e.png" alt="" width="600" height="400" />
                <br />
                <br />
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/5e.png" alt="" width="600" height="400" />
                <br />
                <br />
                <br />
               
            </article>
            <article class="col-6 col-12-xsmall work-item">
                <img src="~/img/66.png" alt="" width="600" height="400" />
                <br />
                <br />
            </article>
        </div>

    </section>

</div>

